<html>
	<head>
		<title>{{greeting_msg}}</title>
	</head>
	<body>
		<h1>Hostname - {{ansible_hostname}}</h1>
 		<h1>OS - {{ansible_os_family}} - {{ansible_distribution}} v{{ansible_distribution_version}}
		<h1>Provisioned by {{provisioner_tool}}</h1>
		<h1>Configured by {{cfg_mgr_tool}}</h1>
	</body>
</html>
